body{
    color:grey;
    background-color: black;
    margin: 0px;
}
header{
    font-size: 50px;

}



section{
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto{
margin-right: 5%;

}